%header
  %h1
    Taggart!
%br
%paragraph
  Welcome to Taggart. Given a web page url, Taggart will fetch the source code of the page provided and list all the valid HTML Tags in the source code, as well as their respective counts.
%br
%br
%form{ :action => "", :method => "post"}
  %div{:id => "inputs"}
    %label{:for => "url"} url:
    %input{:type => "text", :name => "url", :size => 75, :class => "text", :placeholder => "http://www....", :style => "width: 75%;"}
    %input{:type => "submit", :value => "Fetch", :class => "button",:style => "width: 15%;"}

- if (defined? error_message) && error_message
  %div{:id => "error_message", :class=>"alert alert-danger", :style => "width: 100%;"}
    #{error_message}
- if (defined? tags) && tags
  %div{:id => "urlInfo", :class => "alert alert-success", :style => "width: 100%;"}
    - if (defined? redirect_url) && redirect_url
      A redirection occurred.
    Viewing source for
    %a{ :href => "#{url}"} #{url}
  %br
  %paragraph
    Tags present in the document are shown in the left pane, and their count is in brackets (). Click on a tag to have it highlighted in the source document in the right pane
  %hr
  %div{:id => "results"}
    %nav{:id => "tagCounts"}
      %ul{:id => tags, :style => "font-size: small;"}
        - tags.each do |k, v|
          %li #{k} - (#{v})
  %section
    %div{:id=> "sourceCode", :class => "source"}
      %pre
        #{source}
    %div{:id=> "sourceCodeShadow", :class => "source", :style => "display: none;"}
      %pre
        #{source}


%footer
  v 1.0.0