%script{:type=>"text/javascript"}
  :plain
    $(document).ready(function(){

    });


    function highlightItem(n){
      console.log("called highlightItem ...");
      $('#sourceCode').removeHighlight();
      $('#sourceCode').highlight('<' + n);
      $('#sourceCode').highlight(n + '>');
      $('#sourceCode').highlight(n + '/>');
    }

%h2 Viewing source for "#{url}"
%a{ :href => "#{url}"} #{url}

.content{:name => "tagCount", :id => "tagCount", :style=>"width:864px;"}
  %select{:multiple => true}
    - tags.each do |k, v|
      %option{value: "#{k}", onclick: "highlightItem('#{k}'); return false;"} #{k} - (#{v})}

#hr

.textarea{:name => "sourceCode", :id => "sourceCode", :width => "80%"}
  #{source}

#hr